<nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top"><ion-icon name="beer"></ion-icon></a>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/">Home</a>
                </li>

                <% if(currentUser) { %>
                    <li class="nav-item">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/users/sign_out">Sign out</a>
                    </li>
                    <% } else { %>
                        <li class="nav-item">
                            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/users/sign_up">Sign up</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/users/sign_in">Sign in</a>
                        </li>
                <% }%>
            </ul>
        </div>
    </div>
</nav>