<!DOCTYPE html>
<html>
    <% include ./partials/head.ejs %>

    <body>
        <% include ./partials/navbar.ejs %>
        <header class="masthead bg-primary text-white text-center">
            <div class="container">
                <h1 class="text-uppercase mb-0">Beerfinder</h1>
                <br/><h2 class="font-weight-light mb-0">Find Your Next Favorite Beer</h2>
            </div>
            <% if(!currentUser) { %>
                <a href="/users/sign_up" class="btn btn-primary btn-lg">Sign up</a>
            <% } %>
        </header>

        <% if(currentUser) { %>

        <section class="portfolio" id="portfolio">
            <div class="container">
                <h2 class="text-center text-uppercase text-secondary mb-0">Taste Preferences</h2>
            </div>
        </section>

        <div class="container">
            <form>
                <div class="form-group row">
                    <label for="Hoppiness" class="col-sm-2 col-form-label">Hoppiness</label>
                    <select class="md">
                            <option value="1">Low</option>
                            <option value="2">Medium</option>
                            <option value="3">High</option>
                    </select>
                </div>
                <div class="form-group row">
                    <label for="Fruitiness" class="col-sm-2 col-form-label">Fruitiness</label>
                    <select class="md">
                        <option value="1">Low</option>
                        <option value="2">Medium</option>
                        <option value="3">High</option>
                    </select>
                </div>
                <div class="form-group row">
                        <label for="Maltiness" class="col-sm-2 col-form-label">Level of Malt</label>
                        <select class="md">
                            <option value="1">Low</option>
                            <option value="2">Medium</option>
                            <option value="2">High</option>
                        </select>
                    </div>
                    <div class="form-group row">
                            <label for="ABV" class="col-sm-2 col-form-label">Strength (%)</label>
                            <select class="md">
                                <option value="1">4.0 - 4.9</option>
                                <option value="2">5.0 - 5.9</option>
                                <option value="3">6.0 - 6.9</option>
                                <option value="3">7.0 - 7.9</option>
                                <option value="3">8.0 - 8.9</option>
                            </select>
                    </div>
                        <div class="form-group row">
                                <label for="Color" class="col-sm-2 col-form-label">Color</label>
                                <select class="md">
                                    <option value="1">Light</option>
                                    <option value="2">Medium</option>
                                    <option value="3">Dark</option>
                                </select>
                            </div>
                <div class="form-group row">
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>

        <% } %>

        <footer class="footer text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 mb-5 mb-lg-0">
                        <h4 class="text-uppercase mb-4">Built With Node.js <ion-icon name="logo-nodejs" size="large"></ion-icon></h4>
                    </div>
                    <div class="col-md-4 mb-5 mb-lg-0">
                        <h4 class="text-uppercase mb-4">Social</h4>
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item">
                                <a class="btn btn-social text-center" href="https://github.com/MarcusCole518" target="_blank">
                                    <ion-icon name="logo-github" size="large"></ion-icon>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="btn btn-social text-center" href="https://www.linkedin.com/" target="_blank">
                                    <ion-icon name="logo-linkedin" size="large"></ion-icon>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="btn btn-social text-center" href="#">
                                    <ion-icon name="logo-twitter" size="large"></ion-icon>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h4 class="text-uppercase mb-4">Step 1</h4>
                        <p class="lead mb-0">
                            Input Taste Preferences
                        </p>
                    </div>
                </div>
            </div>
        </footer>

        <div class="copyright py-4 text-center text-white">
            <div class="container">
                <small>Copyright &copy; Marcus Little 2019</small>
            </div>
        </div>

        <script src="https://unpkg.com/ionicons@4.5.5/dist/ionicons.js"></script>

    </body>
</html>